<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <appSettings>
    <!-- These are the Azure Active Directory credentials used to connect to SharePoint and upload the outputed, formatted csv file. -->
    <add key="AAD_Account"      value="xxxxx@microsoft.com" />
    <add key="AAD_Password"     value="xxxxx" />
    <!-- This is where the outputed file is saved on the SharePoint Site -->
    <add key="SharePoint_URL"   value="/teams/Businesscloudsuite/Shared Documents/Data/Dashboard Data/" />
    <!-- "Special_Partners"  -->
    <add key="Special_Partners" value="ALSO;INGRAM;TECH DATA;SYNNEX;ONEX GROUP;SWISSCOM (SWITZERLAND) LTD;SHERWEB;TECHQUARTERS;TECH QUARTERS" />
    <!-- Specify how many days in past to grab CSP Subscription data from COSMOS. Use a negative number! -->
    <add key="AddDays" value="-1" />
    <add key="AddDaysTenantInfo" value="-2" />
    <add key="AddDaysSetup" value="-2" />
  </appSettings>
</configuration>